body {
    background-color: #E9ECEF;
    text-align: left;
    margin: 0;
    padding: 0;
}


/* My Header and Navbar Starting */

.header-container {
    background-color: chocolate;
}

.navbar {
    display: flex;
}

.navbar ul {
    padding: 5px;
}

.navbar a {
    display: inline;
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
}




/* My Header and Navbar Ending */

/* My Main Content Starting */

.main-container {
    padding: 0px 10px 0px 10px;
    margin-top: 35px;
    text-align: justify;
}

#header {
    font-size: 25px;
    color: brown;
}

.main-header {
    font-size: 18px;
    color: darkgoldenrod;
}


/* My Main Content Ending */