body {
    background-color: #E9ECEF;
    text-align: center;
    margin: 0;
    padding: 0;
}


/* My Header and Navbar Starting */

.header-container {
    background-color: chocolate;
}

.navbar {
    display: flex;
}

.navbar ul {
    padding: 5px;
}

.navbar a {
    display: inline;
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
}


/* My Header and Navbar Ending */

/* My Main Content Starting */

.main-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 35px;
    display: grid;
    place-items: center;
}

.main-page-list ul {
    display: inline-block;
}

.main-page-list li {
    text-align: left;
}

/* My Main Content Ending */

.bottom-click {
    width: 120px;
    color: white;
    background-color: chocolate;
    border-radius: 10px;
}